@font-face {
  font-family: "Quicksand";
  src: url('../fonts/Quicksand-Medium.ttf') format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Quicksand";
  src: url('../fonts/Quicksand-Light.ttf') format("truetype");
  font-weight: 100;
}

/* General ------------------------------------------------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: 'Quicksand';
}

input[type="file"] {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 5px;
}

button {
  font-family: 'Quicksand';
  background-color: white;
  border: 0;
  outline: 0;
}

/* Header -------------------------------------------------------- */

header {
  position: relative;
}

header .logo .line {
  background-color: #404040;
  width: 96%;
  left: 2%;
  z-index: -1;
  height: 2px;
  position: absolute;
  top: 50%;
}

header .logo h1 {
  width: 90%;
  margin: 0 auto;
  padding: 15px 15px 20px 15px;

  color: #f5f5f5;
  border: 20px solid #FFFFFF;
  background-color: #404040;

  font-weight: 100;
  font-size: 1.5em;
  text-align: center;
}

/* Main -------------------------------------------------------- */

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  justify-content: center;
  letter-spacing: .05em;
  color: #bcbcbc;
  margin: 50px 0 10px 0;
}

.breadcrumbs > .breadcrumb {
  display: flex;
  position: relative;
}

.breadcrumbs > .breadcrumb > .breadcrumb-title {
  padding: 8px 10px;
  background: #FFFFFF;
}

.breadcrumbs > .active-breadcrumb {
  color: #404040;
}

.breadcrumbs > .breadcrumb > .line {
  width: 20px;
  height: .1em;
  position: relative;
  background-color: #c4c4c4;
  top: 50%;
}

.breadcrumbs > .active-breadcrumb > .line {
  background: #404040;
}

.current {
  font-weight: 600;
}


/* Control panel */

.wrapper {
  width: 94%;
  margin: 3em auto;
  display: flex;
  justify-content: center;
}

.control-panel {
  flex: 2;
  position: relative;
  border: .15em solid #E4E4E4;
}

.control-panel > .control-panel-title {
  display: block;
  padding: 1em;
  text-align: center;
  border-bottom: 2px solid #E4E4E4;
  font-size: 1.1em;
}

.control-panel > .control-panel-body {
  padding: 1em .5em 5em .5em;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.help {
  position: relative;
}

.help > .help-button {
  font-size: 1em;
  padding: .15em .55em;
  border: 2px solid #404040;
  border-radius: 50%;
  right: -1em;
  position: absolute;
  background: #404040;
  color: #e4e4e4;
  top: -1em;
}

.help > .help-button:hover {
  background-color: #404040;
  color: #f5f5f5;
}

.help > .help-button:hover ~ .help-tooltip {
  display: block;
}

.help > .help-tooltip {
  text-align: center;
  display: none;
  position: absolute;
  right: .6em;
  top: .6em;
  width: 80%;
  z-index: 1;
  padding: 25px;
  background: white;
  border: 2px solid #404040;
  border-radius: 5px;
}

.panel-button {
  width: 10em;
  height: 3em;
  text-align: center;
  padding: .7em 0;
  border-radius: 2px;
  cursor: pointer;
  border: .15em solid #404040;
}

.panel-button:hover {
  background-color: #404040;
  color: #bcbcbc;
}

.methods-list {
  list-style: none;
  font-size: 1.1em;
  text-align: center;
}

.methods-list > li {
  padding: .6em .4em;
  margin: .3em 0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.methods-list > li:hover {
  border-bottom: 2px solid #404040;
}

.methods-list > li.active-method {
  font-weight: 600;
  border-bottom: 2px solid #404040;
}

.method-title {
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  display: block;
  padding: .7em 0;
}

.slider-container {
  display: flex;
  flex-flow: column nowrap;
  padding: .5em;
}

.slider-container .panel-button {
  margin: 1em auto;
}

.slider-container .range-wrapper {
  display: flex;
  justify-content: space-between;
}

.slider-container .slider-value-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.slider-value-wrapper label {
  font-size: 1.1em;
  padding: .4em 0;
  color: #6f6f6f;
}

.slider-value {
  width: 4em;
  margin: .4em auto;
  text-align: center;
  padding: .2em .2em .1em .2em;
}

.slider-settings {
  display: flex;
  flex-flow: column nowrap;
  margin: .8em;
  padding: 1.6em 0 1.4em 0;
  border-top: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
}

.slider-container .slider-apply-wrapper {
  width: 100%;
  text-align: center;
}

.control-buttons {
  position: absolute;
  width: 100%;
  font-size: 1.1em;
  padding: .9em;
  user-select: none;
  display: flex;
  justify-content: space-between;

  left: 0;
  bottom: 0;
}

.control-buttons > * {
  padding: .3em;
  color: #8f8f8f;
  user-select: none;
}

.activate {
  border-bottom: .15em solid #404040;
  color: #404040;
  cursor: pointer;
}



/* Image box */

.image-box {
  flex: 5;
  position: relative;
  margin-left: 4em;
  min-height: 400px;
  text-align: center;
}

.image-box canvas {
  max-width: 100%;
  left: 0;
  top: 0;
}

.image {
  display: inline-block;
}

.image-meta-data {
  padding: .5em;
  text-decoration: underline;
}